.pattern-spotted {
    @include pattern-spotted();
}

.pattern-spotted-cherry-weak {
    @include pattern-spotted("cherry-weak");
}

.pattern-spotted-cherry-xweak {
    @include pattern-spotted("cherry-xweak");
}

.underline-cherry,
.underline-blueberry,
.underline-pineapple {
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 18%;
        bottom: 5%;
        left: 7.5%;
        border-radius: 50px;
        transition: all 350ms ease;
    }
}

@each $color in $main-colors {
    
    .is-#{$color} {
        --color-current-xstrong: var(--color-#{$color}-xstrong);
        --color-current-strong: var(--color-#{$color}-strong);
        --color-current: var(--color-#{$color});
        --color-current-weak: var(--color-#{$color}-weak);
        --color-current-xweak: var(--color-#{$color}-xweak);
        --color-current-2xweak: var(--color-#{$color}-2xweak);
    }

    .underline-#{$color} {
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 18%;
            bottom: 5%;
            left: 7.5%;
            border-radius: 50px;
            transition: all 350ms ease;
            @include pattern-spotted(#{$color});
        }
    }
}

.color-current { color: var(--color-current, var(--color-cherry)); }
.color-current-weak { color: var(--color-current-weak, var(--color-cherry-weak)); }

.anchor {
    position: absolute;
    top: calc(-1 * var(--header-scroll));
}

.br-8 { border-radius: 8px; }
.br-12 { border-radius: 12px; }

@include breakpoint-s {

    .outflow\@s {
        margin: 0 -30px;
    }

    .reflow\@s {
        margin: 0 30px;
    }
}


.round,
.round-s,
.round-xs {
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    font: var(--ft-s-bold);
    line-height: 1;
}

.round-s {
    font-size: 13px;
    width: 25px;
    height: 25px;
}

.round-xs {
    width: 20px;
    height: 20px;
    font: var(--ft-xs-bold);
    line-height: 1;
}