.FooterBase {
    background-color: var(--color-cherry-2xweak);
    padding: 40px 0;
}

.FooterBase_logoContainer {
    width: 200px;
}

.FooterBase_logo {
    width: 120px;
}

.FooterBase_wrapper {
    display: flex;
    align-items: center;
}

.FooterBase_item {
    margin: 3px 0;
}

.FooterBase_section {
    margin-top: 30px;

    &:first-child {
        margin-top: 0;
    }
}

@include breakpoint-xs {

    .FooterBase_wrapper {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}