.ButtonBase {
    display: inline-flex;
    cursor: pointer;
    font: var(--ft-m);

    background-color: var(--color-cherry-weak);
    padding: 12px 20px;
    border-radius: 30px;

    color: var(--color-white);
    transition: all 150ms ease;

    &:hover {
        transform: translate3d(-1px, -1px, 0);
        box-shadow: 2px 2px 0 0 var(--color-cherry);
        color: var(--color-cherry-xweak);
    }

    &:active {
        transform: translate3d(1px, 1px, 0);
        box-shadow: 0 0 0 0 var(--color-cherry-weak);
    }
}

/* MODIFIERS */

.ButtonBase--s {
    font: var(--ft-s);
    padding: 10px 20px;
}

.ButtonBase--blueberry {
    background-color: var(--color-blueberry);
    
    &:hover {
        box-shadow: 2px 2px 0 0 var(--color-blueberry-weak);
        color: var(--color-blueberry-xweak);
    }

    &:active {
        box-shadow: 0 0 0 0 var(--color-blueberry-weak);
    }
}