.ButtonBase {
    display: inline-flex;
    cursor: pointer;
    font: var(--ft-m);
    line-height: 1;

    background-color: var(--color-cherry-weak);
    padding: 15px 20px;
    border-radius: 30px;
    border: 1px solid var(--color-cherry-weak);

    color: var(--color-white);
    transition: all 100ms ease;

    &:hover {
        color: var(--color-cherry-weak);
        background-color: transparent;
        border-color: var(--color-cherry-weak);
    }

    &:active {
        transform: scale(0.98);
    }
}

/* MODIFIERS */

.ButtonBase--s {
    font: var(--ft-s);
    line-height: 1;
    padding: 12px 15px;
}

.ButtonBase--blueberry {
    background-color: var(--color-blueberry);
    border-color: var(--color-blueberry);

    &:hover {
        color: var(--color-blueberry);
        background-color: transparent;
        border-color: var(--color-blueberry);
    }
}

.ButtonBase--secondary {
    color: var(--color-cherry-weak);
    background-color: transparent;

    &:hover {
        color: var(--color-white);
        background-color: var(--color-cherry-weak);
    }

    &.ButtonBase--blueberry {
        color: var(--color-blueberry);

        &:hover {
            color: var(--color-white);
            background-color: var(--color-blueberry);
        }
    }
}

.ButtonBase--round {
    width: 40px;
    height: 40px;
    padding: 0;
    align-items: center;
    justify-content: center;
}