.EventBlock {
    position: relative;

    &:hover {

        &::after {
            background-color: var(--color-blueberry);
        }

        .EventBlock_container {
            transform: translate3d(-1px, -1px, 0);
        }
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 6px;
        left: 6px;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        @include pattern-spotted("blueberry");
        
        transition: all 100ms ease;
    }
}

.EventBlock_container {
    font: var(--ft-m);
    border: 2px solid var(--color-blueberry);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    background-color: var(--color-white);
    transition: all 100ms ease;
    border-radius: 5px;
    overflow: hidden;
}

.EventBlock_image {
    background-size: cover;
    background-position: center;
    margin: 10px 10px 0 10px;
    border-radius: 5px;

    &::before {
        @include ratio(55);
    }
}

.EventBlock_content {
    flex-grow: 1;
    padding: 15px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.EventBlock_actions {
    background-color: var(--color-blueberry-xweak);
    padding: 10px 10px 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.EventBlock--past {

    &::after {
        @include pattern-spotted("blueberry-weak");
    }
    
    .EventBlock_container {
        border-color: var(--color-blueberry-weak);
    }

    .EventBlock_content,
    .EventBlock_actions {
        opacity: 0.5;
    }

    .EventBlock_image {
        opacity: 0.15;
    }

    &:hover {

        &::after {
            @include pattern-spotted("blueberry");
        }
        
        .EventBlock_container {
            border-color: var(--color-blueberry);
        }
    
        .EventBlock_content,
        .EventBlock_image,
        .EventBlock_actions {
            opacity: 1;
        }
    }
}