:root {
    --header-full: 80px;
    --header-scroll: 65px;
}

.HeaderBase {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-full);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    border-bottom: 1px solid transparent;
    transition: all 100ms ease;
    
    &.is-scroll {
        height: var(--header-scroll);
        border-color: var(--color-border-weak);
        padding: 0 10px;

        .HeaderBase_logo {
            --width: 55px;
        }
    }
}

.HeaderBase_logo {
    fill: var(--color-cherry);
    --width: 75px;
    transition: all 100ms ease;
}