:root {
    --header-full: 80px;
    --header-scroll: 65px;
}

.HeaderBase {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-full);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    transition: all 100ms ease;
    
    &.is-scroll {
        height: var(--header-scroll);
        border-color: var(--color-border-weak);
        background-color: var(--color-white);
        padding: 0 10px;

        .HeaderBase_logo {
            --width: 55px;
        }
    }
}

.HeaderBase_link {
    margin-right: 30px;
}

.HeaderBase_logo {
    fill: var(--color-cherry);
    --width: 75px;
    transition: all 100ms ease;
}

.HeaderBase_nav {
    display: flex;
    align-items: center;
}

.HeaderBase_burger,
.HeaderBase_close {
    display: none;
}

.HeaderBase_close {
    position: absolute;
    top: 20px;
    right: 20px;
}

@include breakpoint-s {

    .HeaderBase.is-open {

        .HeaderBase_nav {
            transform: translateX(0);
            box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
            pointer-events: all;
        }
    }

    .HeaderBase_nav {
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        width: 90%;
        height: 100%;
        max-width: 350px;
        background-color: var(--color-white);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0);
        pointer-events: none;
        transition: all 200ms ease;
    }

    .HeaderBase_link,
    .HeaderBase_cta {
        margin: 15px 0;
    }

    .HeaderBase_burger,
    .HeaderBase_close {
        display: block;
    }
}