.ScrollerText {
    overflow: hidden;
    position: relative;
}

.ScrollerText_rail {
    animation: scroll calc(var(--item-count, 0) * var(--speed, 1000ms)) linear 0ms infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

/* MODIFIERS */

.ScrollerText--gradient {

    &::after {
        content: "";
        @include absolute-fill;
        background: linear-gradient(180deg,
            rgba(255, 231, 241, 1) 10%,
            rgba(255, 231, 241, 0) 40%, 
            rgba(255, 231, 241, 0) 60%, 
            rgba(255, 231, 241, 1) 90%
        );
    }
}