.SliderSimple {

}

.SliderSimple_rail {
    display: flex;
    position: relative;

    & > * {
        flex-shrink: 0;
        margin-right: var(--gutter, 0);
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 600%;
    }
}

.SliderSimple_header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 40px
}

/* STATES */

.SliderSimple.is-panning {
    
    .SliderSimple_rail {
        cursor: grabbing;

        & > * {
            pointer-events: none;
        }
    }
}

.SliderSimple.is-transition {

    .SliderSimple_rail {
        transition: transform 500ms cubic-bezier(0, 1.54, 0.57, 0.97);
    }
}

.SliderSimple.is-short-transition {

    .SliderSimple_rail {
        transition: transform 250ms ease-in-out;
    }
}

/* MODIFIERS */

.SliderSimple--absolute-nav {
    position: relative;

    .SliderSimple_header {
        position: absolute;
        width: 100%;
        top: -10px;
        left: 0;
        transform: translateY(-100%);
    }
}

.SliderSimple--s {

    .SliderSimple_header {
        margin-bottom: 10px;
    }
}