.TeamSection {
    position: relative;
}

.TeamSection_slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.TeamSection_card {
    width: 250px;
}

.TeamSection_right,
.TeamSection_left {
    position: absolute;
    top: 130px;
}

.TeamSection_right {
    right: 0;
}

.TeamSection_left {
    left: 0;
}