.TestimonyCards {
    
}

.TestimonyCards_card {
    margin: 40px 0;
    background-color: var(--color-white);
}

.TestimonyCards_rail {
    max-width: 280px;
    
    &:nth-child(odd) {
        margin-top: 15%;
    }
}

/* TESTIMONY CARD */

.TestimonyCard {
    border: 2px solid var(--color-blueberry);
    position: relative;

    &::before {
        @include ratio(125);
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
        width: calc(100% + 5px);
        height: calc(100% + 5px);
        @include pattern-spotted("blueberry");
        
        transition: all 100ms ease;
    }
}

.TestimonyCard_content {
    @include absolute-fill;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    z-index: 2;
}

.TestimonyCard_image {
    flex-grow: 1;
    margin: 6% 6% 0;
    background-color: var(--color-blueberry-weak);
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--color-blueberry);
}

.TestimonyCard_character {
    width: 60%;
}

.TestimonyCard_name {
    font: var(--ft-title-l);
    text-align: center;
    font-weight: bold;
    padding: 6% 0;
}

.TestimonyCard_quote {
    font: var(--ft-title-l);
    font-weight: bold;
    position: absolute;
    z-index: 5;
    bottom: 25px;
    left: 75%;
    width: 200%;
    background-color: var(--color-white);
    border: 2px solid var(--color-blueberry);
    padding: 15px 20px;
}

/* MODIFIERS */

.TestimonyCard--cherry {
    border-color: var(--color-cherry-weak);

    &::after {
        @include pattern-spotted("cherry-weak");
    }

    .TestimonyCard_image {
        background-color: var(--color-cherry-xweak);
        fill: var(--color-cherry-weak);
    }

    .TestimonyCard_quote {
        border-color: var(--color-cherry-weak);
    }
}

.TestimonyCard--pineapple {
    border-color: var(--color-pineapple);

    &::after {
        @include pattern-spotted("pineapple");
    }

    .TestimonyCard_image {
        background-color: var(--color-pineapple-weak);
        fill: var(--color-pineapple);
    }

    .TestimonyCard_quote {
        border-color: var(--color-pineapple);
    }
}

.TestimonyCard--plum {
    border-color: var(--color-plum);

    &::after {
        @include pattern-spotted("plum");
    }

    .TestimonyCard_image {
        background-color: var(--color-plum-weak);
        fill: var(--color-plum);
    }

    .TestimonyCard_quote {
        border-color: var(--color-plum);
    }
}

.TestimonyCard--cucumber {
    border-color: var(--color-cucumber);

    &::after {
        @include pattern-spotted("cucumber");
    }

    .TestimonyCard_image {
        background-color: var(--color-cucumber-weak);
        fill: var(--color-cucumber);
    }

    .TestimonyCard_quote {
        border-color: var(--color-cucumber);
    }
}

.TestimonyCard--grape {
    border-color: var(--color-grape);

    &::after {
        @include pattern-spotted("grape");
    }

    .TestimonyCard_image {
        background-color: var(--color-grape-weak);
        fill: var(--color-grape);
    }

    .TestimonyCard_quote {
        border-color: var(--color-grape);
    }
}