.ValuesSlider {
    position: relative;
    display: flex;
}

.ValuesSlider_content {
    color: var(--color-ft);
}

.ValuesSlider_wrapper {

}

@each $color in ("cherry", "blueberry", "banana") {
    
    .ValuesSlider_slide--#{$color} {
        color: var(--color-#{$color});

        .ValuesSlider_content b {
            color: var(--color-#{$color});
        }
    }
}

@include breakpoint-s {

}