.Wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
}

.Wrapper--s {
    width: 75%;
    max-width: 1000px;
}

.Wrapper--xs {
    width: 70%;
    max-width: 800px;
}

.Wrapper--2xs {
    width: 70%;
    max-width: 600px;
}