.LayoutDefault {

}

.LayoutDefault_banner {
    padding: 80px 0;
    min-height: 35vh;
    display: flex;
    align-items: center;
    background-color: var(--color-cherry-weak);
}

@include breakpoint-xs {
    
    .LayoutDefault_banner {
        padding: 100px 0 40px;
    }
}