.HomePage_heading {
    display: flex;
    align-items: stretch;
    height: 75vh;
    overflow: hidden;
}

.HomePage_mainTitle {
    font: var(--ft-4xl);
    font-weight: bold;
    line-height: 1;
}

.HomePage_values {
    background-color: var(--color-cherry-weak);
    height: 25vh;
}

.HomePage_testimonies {
    position: absolute;
    top: 80px;
    left: 0;
    width: 70vw;
    min-width: 700px;
    max-width: 1000px;
    transform: translateY(0) rotate(4deg);
}

.HomePage_events {
    background-color: var(--color-blueberry-xweak);
    overflow: hidden;
}

.HomePage_images {
    overflow: hidden;
    background-color: var(--color-pineapple-xweak);
    position: relative;
}

.HomePage_image {
    height: 300px;

    img {
        width: auto;
        max-height: 100%;
    }
}

.Homepage_faq {
    background-color: var(--color-pineapple-xweak);
}

.Homepage_follow {
    background-color: var(--color-white);
}

.Homepage_about {
    background-color: var(--color-white);
    overflow: hidden;
}

.Homepage_aboutCounter {
    height: 50px;
    line-height: 1;
}

.Homepage_aboutNumber {
    font: var(--ft-title-3xl);
    font-weight: bold;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Homepage_aboutNumber--animated {
    font: var(--ft-title-2xl);
    font-weight: bold;
}

.Homepage_aboutContent,
.Homepage_aboutTeam {
    position: sticky;
    top: var(--header-full);
}

.Homepage_aboutContent {
    padding: 120px 60px;
}


.HomePage_thanks {
    background: var(--color-cherry-weak);
}

.HomePage_thanksContainer {
    display: flex;
    align-items: center;
    color: var(--color-cherry);
}

.HomePage_scroller {
    height: 250px;
    margin: 0 40px;
    font: var(--ft-title-2xl);
    line-height: 1.3;
    font-weight: bold;
    flex-shrink: 0;
}