.HomePage_heading {
    display: flex;
    align-items: stretch;
    height: 75vh;
    padding: 60px 0;
    overflow: hidden;
}

.HomePage_mainTitle {
    font: var(--ft-4xl);
    font-weight: bold;
    line-height: 1;
}

.HomePage_activities {
    font: var(--ft-title-l);
    line-height: 1;
    color: var(--color-white);
    background: linear-gradient(to right, var(--color-gradient-1), var(--color-gradient-2), var(--color-gradient-3));
    padding: 15px 0 20px;
    overflow: hidden;

    & > div {
        width: fit-content;
        white-space: nowrap;
        animation: banner 100s linear 0ms infinite;
    }
}

@keyframes banner {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(-50%);
    }
}

.HomePage_values {
    background-color: var(--color-cherry-weak);
    height: 25vh;
}

.HomePage_testimonies {
    position: absolute;
    top: 80px;
    left: 0;
    width: 70vw;
    min-width: 700px;
    max-width: 1000px;
    transform: translateY(0) rotate(4deg);
}

.HomePage_events {
    background-color: var(--color-blueberry-2xweak);
    overflow: hidden;
}

.HomePage_event {
}

.HomePage_images {
    overflow: hidden;
    background-color: var(--color-pineapple-2xweak);
    position: relative;
}

.HomePage_image {
    height: 300px;

    img {
        width: auto;
        max-height: 100%;
    }
}

.Homepage_faq {
    background-color: var(--color-banana-2xweak);
}

.Homepage_about {
    background-color: var(--color-white);
    overflow: hidden;
}

.Homepage_aboutCounter {
    height: 50px;
    line-height: 1;
}

.Homepage_aboutNumber {
    font: var(--ft-title-3xl);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Homepage_aboutNumber--animated {
    font: var(--ft-title-2xl);
}


.HomePage_thanks {
    background: var(--color-banana-2xweak);
}

.HomePage_thanksContainer {
    display: flex;
    align-items: center;
    color: var(--color-banana);
}

.HomePage_scroller {
    height: 250px;
    margin: 0 40px;
    font: var(--ft-title-xl);
    line-height: 1.3;
    font-weight: bold;
    flex-shrink: 0;
}

@include breakpoint-s {

    .HomePage_thanksContainer {
        padding: 40px 0;
        display: block;
        text-align: center;
    }

    .HomePage_scroller {
        font: var(--ft-title-xl);
        font-weight: bold;
        height: 150px;
        margin: 0;
    }

    .TeamSection_slide {
        padding: 40px;
    }

    .TeamSection_right {
        right: 20px;
        top: 140px;
    }

    .TeamSection_left {
        left: 20px;
        top: 140px;
    }

    .TeamSection_card {
        width: 200px;
    }

    .Homepage_aboutContent {
        padding: 40px;
    }

    .HomePage_event {
        max-width: 3000px;
        margin: 0 auto;
    }

    .HomePage_heading {
        height: auto;
        padding: 40px 0;
        margin-top: var(--header-full);
    }

    .HomePage_mainTitleBold {
        line-height: 1.2;
    }

    .Homepage_aboutTeam {
        height: 60vh !important;
    }

    .Homepage_aboutContent,
    .ChatWindow {
        padding: 20px !important;
    }
}