.HomePage_heading {
    display: flex;
    align-items: stretch;
    height: 75vh;
    overflow: hidden;
}

.HomePage_mainTitle {
    font: var(--ft-4xl);
    font-weight: bold;
    line-height: 1;
}

.HomePage_values {
    background-color: var(--color-cherry-weak);
    height: 25vh;
}

.HomePage_testimonies {
    position: absolute;
    top: 80px;
    left: 0;
    width: 70vw;
    min-width: 700px;
    max-width: 1000px;
    transform: translateY(0) rotate(4deg);
}

.HomePage_events {
    background-color: var(--color-blueberry-xweak);
    overflow: hidden;
}

.HomePage_image {
    height: 350px;
}

.HomePage_images {
    overflow: hidden;
}

.Homepage_faq {
    background-color: var(--color-pineapple-xweak);
}

.Homepage_follow {
    background-color: var(--color-white);
}

.Homepage_about {
    background-color: var(--color-white);
}

.Homepage_aboutContent,
.Homepage_aboutTeam {
    position: sticky;
    top: var(--header-full);
}

.Homepage_aboutContent {
    padding: 120px 60px;
}

.Homepage_aboutTeam {
    padding: 60px;
    background-color: var(--color-cherry-xweak);
}