.br-4 {
    border-radius: 4px;
}

@each $name, $value in $breakpoints {
  @if $name != "" { $name: \@#{$name}; }

  @media screen and (max-width: $value) {
    /* POSITION */
    .p-relative#{$name} { position: relative; }
    .p-absolute#{$name} { position: absolute; }
    .p-sticky#{$name} { position: sticky; }

    /* TRANSFORM HELPERS */
    .invert-x#{$name} { transform: scaleX(-1); }
    .invert-y#{$name} { transform: scaleY(-1); }

    /* TEXT */
    .text-center#{$name} { text-align: center; }
    .text-left#{$name} { text-align: left; }
    .text-right#{$name} { text-align: right; }
    .text-through#{$name} { text-decoration: line-through; }

    .o-hidden { overflow: hidden; }
    .o-visible { overflow: visible; }

    /* DISPLAY */
    .d-flex#{$name} { display: flex; }
    .d-block#{$name} { display: block; }
    .d-inline#{$name} { display: inline; }
    .d-inline-block#{$name} { display: inline-block; }
    .d-none#{$name} { display: none; }

    /* FLOAT */
    .float-right#{$name} { float: right; }
    .float-left#{$name} { float: left; }
    .clear-after#{$name} { &::after { content: ""; display: block; clear: both; }}
    .clear-before#{$name} { &::before { content: ""; display: block; clear: both; }}

    /* FLEX */
    .fx-align-center#{$name} { align-items: center; }
    .fx-align-stretch#{$name} { align-items: stretch; }
    .fx-align-start#{$name} { align-items: flex-start; }
    .fx-align-end#{$name} { align-items: flex-end; }
    .fx-align-self-end#{$name} { align-self: flex-end; }
    .fx-justify-center#{$name} { justify-content: center; }
    .fx-justify-between#{$name} { justify-content: space-between; }
    .fx-justify-stretch#{$name} { justify-content: stretch; }
    .fx-justify-start#{$name} { justify-content: flex-start; }
    .fx-justify-end#{$name} { justify-content: flex-end; }
    .fx-justify-self-end#{$name} { justify-self: flex-end; }
    .fx-wrap#{$name} { flex-wrap: wrap; }
    .fx-nowrap#{$name} { flex-wrap: nowrap; }
    .fx-dir-column#{$name} { flex-direction: column; }
    .fx-dir-row#{$name} { flex-direction: row; }
    .fx-grow#{$name} { flex-grow: 1; }
    .fx-no-shrink#{$name} { flex-shrink: 0; }
    .fx-1#{$name} { flex: 1; }

    /* FONTS */
    @each $fontName, $font in $fonts {
        .#{$fontName}{ font-family: #{map-get($font, name)}; }

        @each $size, $value in map-get($font, sizes) {
            .#{$fontName}-#{$size}#{$name} { font: var(--#{$fontName}-#{$size}); }
        }
    }

    .ft-bold#{$name} { font-weight: bold; }
    .ft-bolder#{$name} { font-weight: 900; }
    .ft-0#{$name} { font-size: 0; }
    .line-1#{$name} { line-height: 1; }
    
    /* COLORS */
    @each $colorName, $color in $colors {
        .color-#{$colorName}#{$name} { color: var(--color-#{$colorName}); }
        .bg-#{$colorName}#{$name} { background-color: var(--color-#{$colorName}); }
        .fill-#{$colorName}#{$name} { fill: var(--color-#{$colorName}); }
    }

    /* WIDTH */
    @each $widthName, $width in $block-widths {
      .width-#{$widthName}#{$name} { width: #{$width}px; }
      .max-width-#{$widthName}#{$name} { max-width: #{$width}px; }
    }

    .width-100#{$name} { width: 100%; }
    .width-auto#{$name} { width: auto; }
    .height-100#{$name} { height: 100%; }

    /* BORDERS */
    .b#{$name} { border: 1px solid var(--color-border); }
    .b-top#{$name} { border-top: 1px solid var(--color-border); }

    /* MARGINS, PADDINGS */
    .m-auto#{$name} {
      margin-left: auto;
      margin-right: auto;
    }

    .ml-auto#{$name} {
      margin-left: auto;
    }
    
    @each $spacingName, $spacing in $spacings {
        .p-#{$spacing}#{$name} {
          padding: #{$spacing}px;
        }
        .pv-#{$spacing}#{$name} {
          padding-top: #{$spacing}px;
          padding-bottom: #{$spacing}px;
        }
        .ph-#{$spacing}#{$name} {
          padding-left: #{$spacing}px;
          padding-right: #{$spacing}px;
        }
        .pt-#{$spacing}#{$name} { padding-top: #{$spacing}px; }
        .pb-#{$spacing}#{$name} { padding-bottom: #{$spacing}px; }
        .pl-#{$spacing}#{$name} { padding-left: #{$spacing}px; }
        .pr-#{$spacing}#{$name} { padding-right: #{$spacing}px; }

        .m-#{$spacing}#{$name} { margin: #{$spacing}px; }

        .mv-#{$spacing}#{$name} {
          margin-top: #{$spacing}px;
          margin-bottom: #{$spacing}px;
        }

        .mh-#{$spacing}#{$name} {
          margin-left: #{$spacing}px;
          margin-right: #{$spacing}px;
        }

        .mt-#{$spacing}#{$name} { margin-top: #{$spacing}px; }
        .mb-#{$spacing}#{$name} { margin-bottom: #{$spacing}px; }
        .ml-#{$spacing}#{$name} { margin-left: #{$spacing}px; }
        .mr-#{$spacing}#{$name} { margin-right: #{$spacing}px; }
    }
    
    /* LAYOUT */
    @each $gutter, $value in $gutters {
      $gutterName: "";

      @if $gutter != 'm' {
        $gutterName: -#{$gutter};
      }

      .row#{$gutterName}#{$name} {
        display: flex;
        margin-left: -#{$value}px;
        margin-right: -#{$value}px;
  
        > *[class*="col-"] {
          min-height: 1px;
          padding-right: #{$value}px;
          padding-left: #{$value}px;
        }
      }
    }

    .row-fill#{$name} {
      width: 100%;
    }

    .row-no-gutters#{$name} {
      display: flex;
      margin-right: 0;
      margin-left: 0;
    }

    .row-no-gutters#{$name} [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }

    @for $i from 1 through 12 {
      .col-#{$i}#{$name} {
        width: #{((100 / 12) * $i) + "%"};
      }
    }
  }
}