$breakpoints: (
    "": 99999px,
    "m": 1200px,
    "s": 900px,
    "xs": 600px
);

$block-widths: (
    "xs": 300,
    "s": 320,
    "m": 650
);

$spacings: (
    "none": 0,
    "3xs": 3,
    "2xs": 5,
    "xs": 10,
    "s": 20,
    "s-m": 30,
    "s-l": 40,
    "m": 50,
    "l": 60,
    "xl": 100,
    "2xl": 150
);

$gutters: (
    "xl": 60,
    "l": 30,
    "m": 20,
    "s": 10,
    "xs": 5,
    "2xs": 2,
    "none": 0
);

$colors: (
    "ft": #101010,
    "ft-weak": #B5B5B5,

    "white": #ffffff,
    
    "cherry": #BF0361,
    "cherry-weak": #FD4293,
    "cherry-xweak": #FFE7F1,

    "blueberry": #5D13F3,
    "blueberry-weak": #C7BDF7,
    "blueberry-xweak": #F4F0FF,

    "pineapple": #FF576E,
    "pineapple-weak": #F6FFA6,
    "pineapple-xweak": #FCFFE3,

    "plum": #168BED,
    "plum-weak": #C1FEFC,
    "plum-xweak": #E3FFFF,

    "cucumber": #2C6FBC,
    "cucumber-weak": #66FFCC,
    "cucumber-xweak": #C7FFF4,

    "grape": #692EDC,
    "grape-weak": #D58CFF,
    "grape-xweak": #F8F1FF,

    "border": #E1E1E1,
    "border-weak": #F5F5F5,
    "border-strong": #B3B3B3,
    
    "disabled": #d3d4dc,
    "error": #FF2D42,
    "confirm": #10c773
);

$fonts: (
    "ft": (
        "name": "'Fira Sans', sans-serif",
        "sizes": (
            "xs": "12px/1.4",
            "s": "14px/1.5",
            "m": "16px/1.6",
            "l": "18px/1.6",
            "xl": "22px/1.8",
            "2xl": "30px/1.4",
            "3xl": "35px/1.35",
            "4xl": "42px/1.35"
        )
    ),
    "ft-title": (
        "name": "'Domine', serif",
        "sizes": (
            "xs": "10px/1.2",
            "s": "12px/1.2",
            "m": "15px/1.2",
            "l": "19px/1.2",
            "xl": "22px/1.2",
            "2xl": "30px/1.2",
            "3xl": "40px/1.2",
            "4xl": "42px/1.2",
            "5xl": "48px/1.2"
        )
    )
);