  
@mixin absolute-fill($overflow: 100) {
    position: absolute;
    top: #{(100 - $overflow) / 2 +'%'};
    left: #{(100 - $overflow) / 2 +'%'};
    width: #{$overflow +'%'};
    height: #{$overflow +'%'};
}

@mixin breakpoint-m {
  @media (max-width: #{map-get($breakpoints, "m")}) { @content; }
}

@mixin breakpoint-s {
  @media (max-width: #{map-get($breakpoints, "s")}) { @content; }
}

@mixin breakpoint-xs {
  @media (max-width: #{map-get($breakpoints, "xs")}) { @content; }
}

@mixin ratio($ratio: 50) {
    content: "";
    display: block;
    padding-bottom: #{$ratio + '%'};
}

@mixin img-cover($overflow: 100) {
    position: absolute;
    top: #{(100 - $overflow) / 2 +'%'};
    left: #{(100 - $overflow) / 2 +'%'};
    width: #{$overflow +'%'};
    height: #{$overflow +'%'};
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
}

@mixin img-contain($overflow: 100) {
    position: absolute;
    top: #{(100 - $overflow) / 2 +'%'};
    left: #{(100 - $overflow) / 2 +'%'};
    width: #{$overflow +'%'};
    height: #{$overflow +'%'};
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
}

@mixin box-shadow-s {
    box-shadow: 0 4px 4px 0 ;
}

@mixin box-shadow($color: "cyan") {
    box-shadow: 0 3px 6px 0 rgba(var(--color-#{$color}-shadow), 0.4);
}

@mixin box-shadow-s {
    box-shadow: 0 2px 2px 0 rgba(30, 102, 255, 0.3);
}

@mixin box-shadow-l {
    box-shadow: 0 4px 8px 0 rgba(30, 102, 255, 0.4);
}

@mixin box-shadow-xl {
    box-shadow: 0 10px 10px 0 rgba(30, 102, 255, 0.2);
}