* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, p {
  font: inherit;
  font-weight: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

button {
  border: none;
  outline: none;
}

ul, li, ol {
  margin: 0;
  padding: 0;
}